<section class="listing">
  <img
    class="listing-photo"
    [src]="housingLocation.photo"
    alt="Exterior photo of {{ housingLocation.name }}"
    crossorigin
  />
  <h2 class="listing-heading">{{ housingLocation.name }}</h2>
  <p class="listing-location">
    <sl-icon name="geo-alt-fill" class="icon"></sl-icon>
    
    {{ housingLocation.city }}, {{ housingLocation.state }}
  </p>
  <a [routerLink]="['/details', housingLocation.id]">Learn More<sl-icon name="arrow-right-short" class="icon"></sl-icon></a>
</section>