.listing {
  background: var(--sl-color-neutral-50);
  border-radius: var(--sl-border-radius-x-large);
  padding-bottom: var(--sl-spacing-2x-large);
}
.listing-heading {
  color: var(--sl-color-neutral-700);
  padding: var(--sl-spacing-x-small) var(--sl-spacing-small) 0 var(--sl-spacing-large);
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--sl-border-radius-x-large) var(--sl-border-radius-x-large) 0 0;
}
.listing-location {
  padding: var(--sl-spacing-x-small) var(--sl-spacing-large) var(--sl-spacing-large) var(--sl-spacing-large);
}
section.listing a {
  padding-left: var(--sl-spacing-large);
  text-decoration: none;
  color: var(--sl-color-neutral-700);
  display: inline-flex;
  align-items: center;
  gap:var(--sl-spacing-2x-small)
}

.icon {
  color: var(--sl-color-neutral-700);
}
