
.icon {
  color: var(--sl-color-primary-800);
  font-size: var(--sl-font-size-2x-large);
}
.results {
  display: grid;
  column-gap: var(--sl-spacing-medium);
  row-gap: var(--sl-spacing-medium);
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: var(--sl-spacing-3x-large);
  justify-content: space-around;
}
@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}
@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}