<article class="listing-container">
  <div class="listing-image">
    <img
      class="sh-listing-photo"
      [src]="housingLocation?.photo"
      alt="Exterior photo of {{ housingLocation?.name }}"
      crossorigin
    />
  </div>
  <div class="listing-content">
    <section class="sh-description">
      <h2 class="sh-listing-heading">{{ housingLocation?.name }}</h2>
      <p class="sh-listing-location">
        <sl-icon name="geo-alt" class="icon"></sl-icon>
        {{ housingLocation?.city }}, {{ housingLocation?.state }}
      </p>

      <section class="listing-features">
        <h2 class="section-heading">About this housing location</h2>
        <ul>
          <li>Units available: {{ housingLocation?.availableUnits }}</li>
          <li>Wifi: {{ housingLocation?.wifi }}</li>
          <li>Laundry: {{ housingLocation?.laundry }}</li>
        </ul>
      </section>

      <section class="listing-apply">
        <h2 class="section-heading">Apply now to live here</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
          <sl-input 
            class="input" 
            label="First Name" 
            placeholder="e.g. Sara"
            [value]="applyForm.get('firstName')?.value"
            (sl-input)="onInputChange('firstName', $event)">
          </sl-input>
          <sl-input 
            class="input" 
            label="Last Name" 
            placeholder="e.g. Johnson"
            [value]="applyForm.get('lastName')?.value"
            (sl-input)="onInputChange('lastName', $event)">
          </sl-input>
          <sl-input 
            class="input" 
            label="Email" 
            type="email" 
            placeholder="e.g. sara@example.com"
            [value]="applyForm.get('email')?.value"
            (sl-input)="onInputChange('email', $event)">
          </sl-input>
          <sl-button type="submit" variant="primary" color="accent">Apply now</sl-button>
        </form>
      </section>
    </section>
  </div>
</article>
